/* グローバル設定 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(147, 207, 205); /* 背景色 */
  color: #333;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

/* ヘッダー */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 2000;
}

.menu-toggle span {
  display: block;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

nav {
  display: flex;
}

nav a {
  color: white;
  margin: 0 10px;
  font-size: 1rem;
  padding: 5px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

/* プロフィール */
section {
  padding: 20px;
  margin-top: 100px;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 5px;
}

/* 代表作 */
.representative-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.book-left {
  flex: 1;
  margin-right: 20px;
}

.book-cover {
  width: 100%;
  max-width: 150px;
  border: 2px solid white; /* 白い枠 */
  border-radius: 5px;
}

.book-right {
  flex: 2;
}

/* 長編・短編作品 */
.slider-container {
  display: flex;
  overflow: hidden; /* スライドが外に出ないように */
  margin-bottom: 2rem;
  border-radius: 10px;
  position: relative;
}

.slide {
  flex-shrink: 0; /* スライドが縮まないように */
  width: 100%; /* 一度に1枚のスライドが表示される */
  background-color: #fdfdfd;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.5s ease; /* スライドが動くときのアニメーション */
}

/* スライドの操作ボタン */
.slider-controls button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.slider-controls button:hover {
  background-color: #555;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: #005fa3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
